{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ohayo</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% if request.path == '/' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    {% endif %}    
    {% if request.path == '/room/' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/room.css' %}">
    {% endif %}  
</head>
<body>
    <div class="main">
    {% block content %}
        
    {% endblock content %}
    </div>
    {% if request.path == '/' %}
    <script type="text/javascript">
        let form = document.getElementById('form')
        let handleSubmit = async (e) => {
            e.preventDefault()
            let room = e.target.room.value.toUpperCase()
            let name = e.target.name.value

            let response = await fetch(`/get_token/?channel=${room}`)
            let data = await response.json()

            let UID = data.uid
            let token = data.token

            sessionStorage.setItem('UID', UID)
            sessionStorage.setItem('token', token)
            sessionStorage.setItem('room', room)
            sessionStorage.setItem('name', name)

            window.open('/room/', '_self')
        }
        form.addEventListener('submit', handleSubmit)
    </script>
    {% endif %}  
    {% if request.path == '/room/' %}
        <script type="text/javascript" src="{% static 'js/AgoraRTC_N-4.19.2.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/stream.js' %}"></script>
    {% endif %}  
</body>
</html>